@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
.main {
  font-family: Roboto, sans-serif;
  font-size: 30px;
  font-weight: normal;
}
@media screen and (min-width: 992px) {
  .main {
    display: flex;
    flex-wrap: wrap;
  }
}

ul {
  list-style-type: none;
  padding: 0;
}

.logofont {
  font-family: Shrikhand, sans-serif;
  font-size: 30px;
  font-weight: normal;
}

.btn {
  cursor: pointer;
  background-image: linear-gradient(170deg, #FF79DA, #9356DC);
  background-color: #bc95e9;
  color: white;
  width: 220px;
  height: 45px;
  border-radius: 50px;
  font-size: 15px;
  border-style: none;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
  transition: all 300ms ease;
}
@media screen and (min-width: 769px) {
  .btn {
    width: 400px;
    height: 70px;
    font-size: 25px;
  }
}
.btn:hover {
  background-blend-mode: hard-light;
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.7);
}

.spinner {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  width: 100%;
}
@media screen and (min-width: 769px) {
  .spinner {
    max-width: 100%;
  }
}

.spinner3d {
  color: white;
  font-size: 3.5rem;
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 7.5vw;
  perspective: 500px;
}
.spinner3d > .spinnerflip {
  animation: spinflip ease 3s infinite both;
}

.spinnerflip {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  transform-origin: center 3.75vw;
  transition: transform 500ms cubic-bezier(0.7, 0.01, 0.23, 0.99);
  transform: rotateX(0deg);
}
.spinnerflip__1 {
  transform: rotateX(0deg) translateZ(3.75vw);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  color: #9356DC;
}
.spinnerflip__2 {
  transform: rotateX(90deg) translateZ(3.75vw);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  color: #FF79DA;
}
.spinnerflip__3 {
  transform: rotateX(180deg) translateZ(3.75vw);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  color: #99E2D0;
}

@keyframes spinflip {
  0% {
    transform: rotateX(270deg);
    transition: ease-in;
  }
  20%, 40% {
    transform: rotateX(-90deg);
  }
  40%, 55% {
    transform: rotateX(-180deg);
  }
  55%, 100% {
    transform: rotateX(0deg);
  }
  90%, 100% {
    transform: perspective(300px) translateZ(10px);
    transition: ease-in;
  }
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-direction: row;
  height: 60px;
}
@media screen and (min-width: 769px) {
  .header {
    height: 120px;
  }
}
.header__logo--logofont {
  font-family: Shrikhand, sans-serif;
  font-size: 30px;
  font-weight: normal;
}
@media screen and (min-width: 769px) {
  .header__logo--logofont {
    font-size: 60px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    max-width: 1440px;
    margin: auto;
  }
}

.footer {
  background-color: #353535;
  color: white;
  padding: 20px;
  font-size: 15px;
  font-family: Roboto, sans-serif;
}
@media screen and (min-width: 769px) {
  .footer {
    font-size: 25px;
  }
}
@media screen and (min-width: 992px) {
  .footer {
    min-height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
}
@media screen and (min-width: 992px) {
  .footer__list {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
}
.footer__logo {
  font-size: 16px;
  padding-bottom: 20px;
}
@media screen and (min-width: 769px) {
  .footer__logo {
    font-size: 25px;
  }
}
.footer__list-item {
  padding-bottom: 10px;
}
.footer__icon {
  width: 20px;
}
@media screen and (min-width: 769px) {
  .footer__icon {
    width: 40px;
  }
}

.home {
  animation: loader-delay 0ms 2000ms both;
}
.home__title {
  font-size: 24px;
  font-weight: 800;
}
@media screen and (min-width: 769px) {
  .home__title {
    font-size: 40px;
  }
}

@keyframes loader-delay {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.location {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-direction: row;
  height: 50px;
  background-color: #eaeaea;
  color: #454545;
  box-shadow: inset 1px 3px 4px 0px rgba(0, 0, 0, 0.28);
}
@media screen and (min-width: 769px) {
  .location {
    height: 100px;
  }
}
@media screen and (min-width: 992px) {
  .location {
    width: 100%;
  }
}
.location__town {
  font-size: 16px;
  font-weight: 600;
}
@media screen and (min-width: 769px) {
  .location__town {
    font-size: 25px;
  }
}
.location__icon {
  font-size: 17px;
  position: relative;
  top: -4px;
  left: -25px;
}
@media screen and (min-width: 769px) {
  .location__icon {
    font-size: 25px;
  }
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  flex-direction: column;
  padding: 40px 30px;
  text-align: center;
  background-color: #f6f6f6;
}
@media screen and (min-width: 992px) {
  .heading {
    width: 50%;
  }
}
.heading__title {
  padding: 0 20px;
}
.heading__p {
  color: gray;
  font-size: 18px;
  font-weight: 400;
}
@media screen and (min-width: 769px) {
  .heading__p {
    font-size: 25px;
  }
}

.guide {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 40px 20px;
  font-size: 16px;
}
@media screen and (min-width: 769px) {
  .guide {
    padding: 40px 40px;
  }
}
@media screen and (min-width: 992px) {
  .guide {
    width: 50%;
  }
}
.guide__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: column;
}
.guide__list-item {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #f6f6f6;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
  height: 65px;
  width: 100%;
  border-radius: 20px;
  font-weight: 600;
}
@media screen and (min-width: 769px) {
  .guide__list-item {
    height: 90px;
    font-size: 25px;
  }
}
.guide__list-item--mod {
  background-color: #fdefef;
}
.guide__list-dot {
  font-size: 15px;
  font-weight: normal;
  position: relative;
  left: -10px;
  background: #9356DC;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 769px) {
  .guide__list-dot {
    width: 30px;
    height: 30px;
    font-size: 25px;
  }
}
.guide__list-icon {
  padding-right: 10px;
  color: gray;
}
.guide__list-icon--mod {
  color: #9356DC;
}

.restau-section {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: #eaeaea;
  padding: 60px 20px;
}
@media screen and (min-width: 992px) {
  .restau-section {
    width: 100%;
  }
}

.restau {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 992px) {
  .restau {
    flex-flow: row wrap;
  }
}

.restau-card {
  height: 250px;
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
  font-size: 16px;
  position: relative;
  z-index: 1;
}
@media screen and (min-width: 769px) {
  .restau-card {
    height: 500px;
    font-size: 25px;
  }
}
@media screen and (min-width: 992px) {
  .restau-card {
    width: 49%;
  }
}
.restau-card--new::after {
  content: "Nouveau";
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-direction: row;
  position: absolute;
  font-size: 14px;
  font-weight: 550;
  top: 10px;
  right: 10px;
  color: #299077;
  background-color: #99E2D0;
  border-radius: 2px;
  width: 70px;
  height: 30px;
  text-align: center;
}
@media screen and (min-width: 769px) {
  .restau-card--new::after {
    width: 140px;
    height: 60px;
    font-size: 25px;
  }
}
.restau-card__top {
  height: 70%;
  overflow: hidden;
}
.restau-card__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30%;
  padding: 15px;
}
.restau-card__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 0 62%;
}
.restau-card__name {
  font-weight: 800;
}
.restau-card__location {
  font-weight: 400;
}
.restau-card__hearts {
  width: 40px;
  height: 100%;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 769px) {
  .restau-card__hearts {
    width: 60px;
    font-size: 60px;
  }
}
.restau-card__hearts:hover > .restau-card__hearts--full {
  opacity: 1;
  transform: scale(1.2);
}
.restau-card__hearts--empty {
  position: absolute;
  z-index: 1;
}
.restau-card__hearts--full {
  opacity: 0;
  transform: scale(0);
  z-index: 2;
  position: absolute;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(170deg, #FF79DA, #9356DC);
  transition: all 500ms ease-out;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
a:active {
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
