@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
.main {
  font-family: Roboto, sans-serif;
  font-size: 30px;
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

.btn {
  background-image: linear-gradient(170deg, #FF79DA, #9356DC);
  color: white;
  width: 220px;
  height: 45px;
  border-radius: 50px;
  font-size: 15px;
  border-style: none;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-direction: row;
  height: 60px;
}
.header__logo--logofont {
  font-family: Shrikhand, sans-serif;
  font-size: 30px;
  font-weight: normal;
}

.container {
  max-width: 768px;
}

.home__title {
  font-size: 24px;
  font-weight: 800;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-direction: row;
  height: 50px;
  background-color: #eaeaea;
  color: #454545;
  box-shadow: inset 1px 3px 4px 0px rgba(0, 0, 0, 0.28);
}
.location__town {
  font-size: 16px;
  font-weight: 600;
}
.location__icon {
  font-size: 17px;
  position: relative;
  top: -4px;
  left: -25px;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  flex-direction: column;
  padding: 40px 30px;
  text-align: center;
  background-color: #f6f6f6;
}
.heading__title {
  padding: 0 20px;
}
.heading__p {
  color: gray;
  font-size: 18px;
  font-weight: 400;
}

.guide {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 40px 20px;
  font-size: 16px;
}
.guide__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: column;
}
.guide__list-item {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #f6f6f6;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
  height: 65px;
  width: 100%;
  border-radius: 10px;
  font-weight: 600;
}
.guide__list-dot {
  font-size: 15px;
  font-weight: normal;
  position: relative;
  left: -10px;
  background: #9356DC;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.guide__list-icon {
  padding-right: 10px;
  color: gray;
}

.restau-section {
  background-color: #eaeaea;
  padding: 40px 20px;
}

.restau {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.restau-card {
  height: 250px;
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
  font-size: 16px;
}
.restau-card__top {
  height: 70%;
  overflow: hidden;
}
.restau-card__bottom {
  height: 30%;
  padding: 15px;
}
.restau-card__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.restau-card__name {
  font-weight: 800;
}
.restau-card__location {
  font-weight: 400;
}
.restau-card__like {
  font-size: 30px;
}
.restau-card__like--empty {
  position: relative;
  right: -87%;
  bottom: 75%;
  z-index: 0;
}
.restau-card__like--full {
  z-index: 1;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/*# sourceMappingURL=style.css.map */
