@import "./Utils/variables";
@import "./Utils/mixins";
@import "./Base/base";
@import "./Base/typography";
@import "./Components/buttons";
@import "./Components/loader";
@import "./Layout/header";
@import "./Layout/container";
@import "./Layout/footer";
@import "./Pages/Homepage";
@import "./Pages/Menus";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  &:active {
    text-decoration: none;
  }
}
