@mixin typography($font-family:$primary-font-family, $font-size:$primary-font-size, $font-weight:normal) {
    font-family: $font-family;
    font-size: $font-size;
    font-weight:$font-weight;
}

@mixin center-content ($gap:0, $direction:row) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $gap;
    flex-direction: $direction;
}

@mixin home-title-style {
    font-size: $home-title-size;
    font-weight: $primary-font-weight;
    
}

@mixin card-settings {
    height: $card-height;
    background-color: $card-bg-color;
    border-radius: $card-radius;
    overflow: hidden;
    font-size: $secondary-font-size;
    position: relative;
}