$clr-primary:#9356DC;
$clr-secondary:#FF79DA;
$clr-tertiary:#99E2D0;

$text-color:black;

$primary-font-family: Shrikhand, sans-serif;
$secondary-font-family: Roboto, sans-serif;
$primary-font-size: 30px;

$header-height:60px;
$location-box-height:50px;