.home{
    &__title{
        @include home-title-style;
    }
}

.location{
    @include center-content;
    height: $location-box-height;
    background-color: $bg-color-a;
    color: lighten($color: $text-color, $amount: 27%);
    box-shadow: inset 1px 3px 4px 0px rgba(0,0,0,0.28);
    &__town{
        font-size: $secondary-font-size;
        font-weight: $secondary-font-weight;
    }
    &__icon{
        font-size: $icon-font-size;
        position: relative;
        top: -4px;
        left: -25px;
    }
}
.heading{
    @include center-content(25px,column);
    padding: 40px 30px;
    text-align: center;
    background-color: $bg-color-b;
    &__title{
        padding: 0 20px;
    }
    &__p{
        color: lighten($color: $text-color, $amount: 50%);
        font-size: $heading-text-size;
        font-weight: 400;
    }
}
.guide{
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 40px 20px;
    font-size: $secondary-font-size;
    &__list{
        @include center-content(20px,column);
      }
    &__list-item{
        display: flex;
        align-items:center;
        gap: 10px;
        background-color: $bg-color-b;
        box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
        height: 65px;
        width: 100%;
        border-radius: 10px;
        font-weight: 600;
    }
    &__list-dot{
        font-size: 15px;
        font-weight: normal;
        position:relative;
        left:-10px;
        background:$clr-primary;
        color: white;
        border-radius:50%;
        width:20px;
        height:20px;
        line-height: 20px;
        display:flex;
        justify-content:center;
        align-items:center;
      }
      &__list-icon{
          padding-right: 10px;
          color:lighten($color: $text-color, $amount: 50%);
      }
}

.restau-section{
    background-color: $bg-color-a;
}
.restau{
    &__image{
        width: 200px;
    }
}