.home{
    &__title{
        @include home-title-style;
    }
}

.location{
    @include center-content;
    height: $location-box-height;
    background-color: $bg-color-a;
    color: lighten($color: $text-color, $amount: 27%);
    box-shadow: inset 1px 3px 4px 0px rgba(0,0,0,0.28);
    &__town{
        font-size: $secondary-font-size;
        font-weight: $secondary-font-weight;
    }
    &__icon{
        font-size: $icon-font-size;
        position: relative;
        top: -4px;
        left: -25px;
    }
}
.heading{
    @include center-content(25px,column);
    padding: 40px 30px;
    text-align: center;
    background-color: $bg-color-b;
    &__title{
        padding: 0 20px;
    }
    &__p{
        color: lighten($color: $text-color, $amount: 50%);
        font-size: $heading-text-size;
        font-weight: $tertiary-font-weight;
    }
}
.guide{
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 40px 20px;
    font-size: $secondary-font-size;
    &__list{
        @include center-content(20px,column);
      }
    &__list-item{
        display: flex;
        align-items:center;
        gap: 10px;
        background-color: $bg-color-b;
        box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
        height: 65px;
        width: 100%;
        border-radius: 20px;
        font-weight: 600;
        &--mod{
            background-color: adjust-color($color: $bg-color-b, $saturation: 80%,)
        }
    }
    &__list-dot{
        font-size: 15px;
        font-weight: normal;
        position:relative;
        left:-10px;
        background:$clr-primary;
        color: white;
        border-radius:50%;
        width:20px;
        height:20px;
        line-height: 20px;
        display:flex;
        justify-content:center;
        align-items:center;
      }
      &__list-icon{
          padding-right: 10px;
          color:lighten($color: $text-color, $amount: 50%);
          &--mod{
              color: $clr-primary;
          }
      }
}

.restau-section{
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: $bg-color-a;
    padding: 60px 20px;
}
.restau{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.restau-card{
    @include card-settings;
    z-index: 1;
    &--new{
        &::after{
            content: "Nouveau";
            @include center-content;
            position: absolute;
            font-size: 14px;
            font-weight: 550;
            top: 10px;
            right: 10px;
            color: darken($color: $clr-tertiary, $amount: 38%);
            background-color: $clr-tertiary;
            border-radius: 2px;
            width: 70px;
            height: 30px;
            text-align: center;
        }
    }
    &__top{
        height: 70%;
        overflow: hidden;
    }
    &__bottom{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 30%;
        padding: 15px;
    }
    &__image{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    &__name{
        font-weight: $primary-font-weight;
    }
    &__location{
        font-weight: $tertiary-font-weight;
    }
    &__like{
        &--full{
            opacity:0;
            transform:scale(0.1);
            transition: all 300ms ease-out;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-image: linear-gradient(170deg, $clr-secondary, $clr-primary);
            &:hover{
              opacity:1;
              transform:scale(1.2);
            }
        }
    }
}